<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="true" xmlns:log4j='http://jakarta.apache.org/log4j/'>

    <appender name="consoleAppender" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{dd MMM yyyy HH:mm:ss} %5p %c{1} - %m%n"/>
        </layout>
    </appender>

    <appender name="chatAppLogger" class="org.apache.log4j.RollingFileAppender">
        <param name="append" value="false"/>
        <param name="file" value="queryBot.log"/>
        <param name="datePattern" value="'-'yyyy-MM-dd'.log'" />
        <param name="MaxFileSize" value="10MB" />
        <param name="MaxBackupIndex" value="5" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p (%t) [%c{2}(%M:%L)] %m%n"/>
        </layout>
    </appender>

    <logger name="org.hibernate">
        <level value="ALL" />
        <appender-ref ref="chatAppLogger"/>
    </logger>

    <!-- set additivity to true if sql logging is needed -->
    <category name="org.springframework.jdbc.core.JdbcTemplate" additivity="true">
        <priority value="debug" />
    </category>

    <root>
        <level value="INFO"/>
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="chatAppLogger"/>
    </root>

</log4j:configuration>